// Import generated theme variables
@import "theme-variables";

// WordPress CSS variables mapping back to Bootstrap variables
:root {
	// Overwrite Bootstrap CSS variables according to WordPress values
	--bs-primary: var(--wp--preset--color--primary);
	--bs-primary-rgb: #{$primary-rgb};
	--bs-secondary: var(--wp--preset--color--secondary);
	--bs-secondary-rgb: #{$secondary-rgb};
	--bs-success: var(--wp--preset--color--success);
	--bs-success-rgb: #{$success-rgb};
	--bs-info: var(--wp--preset--color--info);
	--bs-info-rgb: #{$info-rgb};
	--bs-warning: var(--wp--preset--color--warning);
	--bs-warning-rgb: #{$warning-rgb};
	--bs-danger: var(--wp--preset--color--danger);
	--bs-danger-rgb: #{$danger-rgb};
	--bs-light: var(--wp--preset--color--light);
	--bs-light-rgb: #{$light-rgb};
	--bs-dark: var(--wp--preset--color--dark);
	--bs-dark-rgb: #{$dark-rgb};

	--bs-body-font-size: var(--wp--preset--font-size--base);
}
